{% include 'header.html'%}


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcyzudenazr_agpHvowA0rc-Jv1unIg8A"></script>

<script>
    var locations = {{ latlong|tojson }};
    //console.log(locations);

    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 10,
        center: new google.maps.LatLng(-6.175110, 106.865036),
        mapTypeId: google.maps.MapTypeId.ROADMAP
    });


    var contentString = '<div id="content">'+
        '<div id="siteNotice">'+
        '</div>'+
        '<h1 id="firstHeading" class="firstHeading">Uluru</h1>'+
        '<div id="bodyContent">'+
        '<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large ' +
        'sandstone rock formation in the southern part of the '+
        'Northern Territory, central Australia. It lies 335&#160;km (208&#160;mi) '+
        'south west of the nearest large town, Alice Springs; 450&#160;km '+
        '(280&#160;mi) by road. Kata Tjuta and Uluru are the two major '+
        'features of the Uluru - Kata Tjuta National Park. Uluru is '+
        'sacred to the Pitjantjatjara and Yankunytjatjara, the '+
        'Aboriginal people of the area. It has many springs, waterholes, '+
        'rock caves and ancient paintings. Uluru is listed as a World '+
        'Heritage Site.</p>'+
        '<p>Attribution: Uluru, <a href="https://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">'+
        'https://en.wikipedia.org/w/index.php?title=Uluru</a> '+
        '(last visited June 22, 2009).</p>'+
        '</div>'+
        '</div>';
  


    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {
        marker = new google.maps.Marker({
            position: new google.maps.LatLng(locations[i]['latitude'], locations[i]['longitude']),
            map: map
        });

        google.maps.event.addListener(marker, 'click', (function (marker, i) {
            return function () {
                infowindow.setContent(`
                <table >
                    <tr>
                        <td>Nama Usaha / Brand</td>
                        <td>:</td>
                        <td>${locations[i]['nama']}</td>
                    </tr>   
                    <tr>
                        <td>Jumlah Stock</td>
                        <td>:</td>
                        <td>${locations[i]['jumlah_stok']}</td>
                    </tr>              
                    <tr>
                        <td colspan="3" >
                            <a target="_blank" rel="noopener noreferrer" href="${locations[i]['marketplace']}">Marketplace Link</a>
                        </td>

                    </tr>              
                    <tr>
                        <td colspan="3" >
                            <a target="_blank" rel="noopener noreferrer" href="${locations[i]['whatsapp']}">Whatsapp Link</a>
                        </td>
                    </tr>              

                </table>
                `);

                infowindow.open(map, marker);
            }
        })(marker, i));
    }
</script>
<div id="googleMap" style="width:100%;height:380px;"></div>

{% include 'footer.html'%}
