<!DOCTYPE html>
<html lang="en">

<head>
    <title>UMKM</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


 <!-- Meta Tags -->
 <meta name="author" 		content="UMKM Bangun Digdaya">
 <meta name="robots" 		content="index,follow,noodp,noydir" />
 <meta property="og:url"           content="https://umkm.bangundigdaya.com" />
 <meta property="og:type"          content="website" />
 <meta property="og:title"         content="UMKM Bangun digdaya, Cinta Produk Indonesia" />
 <meta name="keywords"             content="UMKM Bangun digdaya, UMKM BangunDigdaya, inkubator bisnis online untuk umkm, badi go, cara perbanyak cabang untuk umkm,  badi go pesanggrahan, maksimalkan properti Anda, kantin cloud, kantin dekat sekolah"/>
 <meta charset="utf-8">
 <meta property="og:image" content="https://s3-ap-southeast-1.amazonaws.com/bangundigdaya.com/img/banner-umkm-bangundigdaya.png"/>
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <meta name="description" content="Cinta Produk Indonesia Beli Produk UMKM, Startup Peta UMKM digital, UMKM BangunDigdaya, platform berdaya dan bangun aset digital usaha UMKM, Platform perluas pasar UMKM">
 <meta name="author" content="bangundigdaya">
<!-- End Tags -->



    <script>
        // redirect https
        if (location.hostname != "localhost") {
            if (location.protocol !== 'https:') {
                location.replace(`https:${location.href.substring(location.protocol.length)}`);
            }
        }

    </script>

    <!-- Global site tag (gtag.js) - Google Ads: 929105197 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-929105197"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'AW-929105197');
    </script>

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-W4HLZ25');</script>
    <!-- End Google Tag Manager -->

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">


    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">

    <script src="{{url_for('static', filename='jquery-3.4.1.min.js')}}"></script>



    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">


</head>

<body>

    <script src="{{url_for('static', filename='bootstrap.min.js')}}"></script>

    <script src="{{url_for('static', filename='main.js')}}"></script>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-W4HLZ25" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->